@import './base.css';

#app {
  font-weight: normal;
  display: flex;
  width: calc(100% - 24px);
  border: 2px solid var(--color-border);
  margin: 10px;
  height: calc(100dvh - 24px);
  overflow: hidden;
  box-sizing: border-box;
}

.listTitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-background);
  background-color: var(--color-heading);
  max-width: 130px;
  padding: 5px 10px;
  text-align: center;
}
